/* Navigation */
#navbar{
    flex-direction: column;
    /* align-items: center; */
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0 7px;
}


/* Home */
#home{
    height: 495px;
    padding: 3px 68px;
}
#home::before{

    height: 480px;
}
#home p{
    font-size: 13px;
}
/* Services */
#services{
    flex-direction: column;
}

#services .box{
    
}

/* Clients */
#clients {
   overflow: hidden;
}


/* Contact Us */
/* Utility */
.h-primary{
    font-size: 24px;
}